<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AjaxProfileServlet</servlet-name>
        <servlet-class>servlet.profil.AjaxProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlet.profil.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeProfileServlet</servlet-name>
        <servlet-class>servlet.profil.ListeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProfileServlet</servlet-name>
        <servlet-class>servlet.profil.DeleteProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalInformationInsertionServlet</servlet-name>
        <servlet-class>servlet.candidature.PersonalInformationInsertionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessionalCareerInsertionServlet</servlet-name>
        <servlet-class>servlet.candidature.ProfessionalCareerInsertionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormationPathInsertionServlet</servlet-name>
        <servlet-class>servlet.candidature.FormationPathInsertionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtherInformationInsertionServlet</servlet-name>
        <servlet-class>servlet.candidature.OtherInformationInsertionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviewCandidatureServlet</servlet-name>
        <servlet-class>servlet.candidature.PreviewCandidatureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishedCandidatureServlet</servlet-name>
        <servlet-class>servlet.candidature.FinishedCandidatureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCandidatureServlet</servlet-name>
        <servlet-class>servlet.candidature.ListCandidatureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbscenceServlet</servlet-name>
        <servlet-class>servlet.paie.AbscenceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxProfileServlet</servlet-name>
        <url-pattern>/AjaxProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeProfileServlet</servlet-name>
        <url-pattern>/ListeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfileServlet</servlet-name>
        <url-pattern>/DeleteProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalInformationInsertionServlet</servlet-name>
        <url-pattern>/PersonalInformationInsertionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessionalCareerInsertionServlet</servlet-name>
        <url-pattern>/ProfessionalCareerInsertionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormationPathInsertionServlet</servlet-name>
        <url-pattern>/FormationPathInsertionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtherInformationInsertionServlet</servlet-name>
        <url-pattern>/OtherInformationInsertionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviewCandidatureServlet</servlet-name>
        <url-pattern>/PreviewCandidatureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishedCandidatureServlet</servlet-name>
        <url-pattern>/FinishedCandidatureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCandidatureServlet</servlet-name>
        <url-pattern>/listCandidature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbscenceServlet</servlet-name>
        <url-pattern>/Abscence</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
